Source: brotli
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Tomasz Buchert <tomasz@debian.org>
XSBC-Pexip-Original-Uploaders: Ondřej Surý <ondrej@debian.org>
Section: python
Priority: optional
Build-Depends: cmake,
               debhelper (>= 13),
               debhelper-compat (= 13),
               dh-python <!nopython>,
               libpython3-all-dev <!nopython>,
               python3-all-dev:any <!nopython>,
               python3-setuptools <!nopython>,
               python3:any <!nopython>
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/debian/brotli
Vcs-Git: https://salsa.debian.org/debian/brotli.git
Homepage: https://github.com/google/brotli
Rules-Requires-Root: no
XS-Pexip-Upstream: http://deb.debian.org/debian/ bookworm

Package: python3-brotli
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: lossless compression algorithm and format (Python 3 version)
 Brotli is a generic-purpose lossless compression algorithm
 that compresses data using a combination of a modern variant
 of the LZ77 algorithm, Huffman coding and 2nd order context modeling,
 with a compression ratio comparable to the best currently available
 general-purpose compression methods. It is similar in speed with
 deflate but offers more dense compression.
 .
 This package installs a Python 3 module.
Build-Profiles: <!nopython>

Package: brotli
Architecture: any
Section: utils
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lossless compression algorithm and format (command line utility)
 Brotli is a generic-purpose lossless compression algorithm
 that compresses data using a combination of a modern variant
 of the LZ77 algorithm, Huffman coding and 2nd order context modeling,
 with a compression ratio comparable to the best currently available
 general-purpose compression methods. It is similar in speed with
 deflate but offers more dense compression.
 .
 This package installs a command line utility.

Package: libbrotli-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libbrotli1 (= ${binary:Version}), ${misc:Depends}
Description: library implementing brotli encoder and decoder (development files)
 Brotli is a generic-purpose lossless compression algorithm
 that compresses data using a combination of a modern variant
 of the LZ77 algorithm, Huffman coding and 2nd order context modeling,
 with a compression ratio comparable to the best currently available
 general-purpose compression methods. It is similar in speed with
 deflate but offers more dense compression.
 .
 This package installs development files.

Package: libbrotli1
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: library implementing brotli encoder and decoder (shared libraries)
 Brotli is a generic-purpose lossless compression algorithm
 that compresses data using a combination of a modern variant
 of the LZ77 algorithm, Huffman coding and 2nd order context modeling,
 with a compression ratio comparable to the best currently available
 general-purpose compression methods. It is similar in speed with
 deflate but offers more dense compression.
 .
 This package installs shared libraries.
