#!/usr/bin/make -f
#export DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export PYBUILD_NAME = brotli

ifeq (,$(filter nopython,$(DEB_BUILD_PROFILES)))
%:
	dh $@ --buildsystem=pybuild --with=python3

override_dh_auto_configure:
	dh_auto_configure
	dh_auto_configure --buildsystem=cmake

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --buildsystem=cmake

override_dh_auto_install:
	dh_auto_install
	dh_auto_install --buildsystem=cmake

override_dh_auto_clean:
	dh_auto_clean
	dh_auto_clean --buildsystem=cmake

override_dh_auto_test:
	dh_auto_test
	dh_auto_test --buildsystem=cmake
else
%:
	dh $@ --buildsystem=cmake
endif

override_dh_missing:
	dh_missing --fail-missing

override_dh_install:
	# drop "-static" part from static libs
	debian/rename-static-libs.sh
	dh_install
